button{
	height:80px;
	width: 80px;
}
.container{
	font-family: 'Oswald', sans-serif;
	font-size: 1.5em;
	border: 2px solid black;
	position: absolute;
	width: 480px;
}

.buttons{
	padding-left:50px;
}

#textResult{
	background-color: lightblue;
	height:130px;
	font-size: 3em;
}

#rightInput, #leftInput{
	height: 75px;
	background-color: rgb(78, 137, 232);
}
#operator{
	height: 75px;
	width: 60px;
	background-color: rgb(249, 181, 62);
}
#rightInput, #leftInput, #operator{
	font-size: 1.9em;
}
